<div class="container">
<h1>Nouveau Film</h1>
<p>Choisis et commente un film pour ta liste</p>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>
<br>
<%= link_to "Go Back", list_path(@list), class:"btn btn-light"  %>
</div>
